<% @page_title = "UserAuth | Signup" -%>
<h1>New to E-LEARNING? Sign Up</h1>
<div class= "col-md-4 col-md-offset-4">
  <%= form_for(@user) do |f| %>
          
    <%= f.label :name %>
    <%= f.text_field :name%>
   
    <%= f.label :email %>
    <%= f.text_field :email%>
     
    <%= f.label :password %>
    <%= f.password_field :password%>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation%>

    <div class="checkbox pull-left">
      <label><input type="checkbox"><div class="span1">Remember me</div></label>
    </div>

    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
  <% end %>
</div> 
