<% provide(:title, t("signup")) %>
<h1><%= t("new_user") %></h1>
<div class= "col-md-4 col-md-offset-4">
  <%= form_for(@user) do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <%= f.label :name, t("name") %>
    <%= f.text_field :name %>

    <%= f.label :email, t("email") %>
    <%= f.text_field :email %>

    <%= f.label :password, t("password") %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, t("password_confirmation") %>
    <%= f.password_field :password_confirmation %>

    <div class="checkbox pull-left">
      <label><input type="checkbox"><%= t("remember") %></label>
    </div>

    <%= f.submit t("submit"), class: "btn btn-large btn-primary" %>
  <% end %>
</div>
