<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to t("home_page.e-learning"), root_path, id: "logo" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to t("home_page.home"), root_path %></li>
      <li><%= link_to t("home_page.about"), about_path %></li>
      <li><%= link_to t("home_page.help"), help_path %></li>
      <% if signed_in? %>
        <li><%= link_to t("home_page.users") %></li>
        <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t("home_page.account") %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("home_page.profile") %></li>
              <li><%= link_to t("home_page.setting") %></li>
              <li class="divider"></li>
              <li><%= link_to t("home_page.sign_out") %></li>
            </ul>
        </li>
      <% else %>
        <li><%= link_to t("home_page.sign_in"), signin_path %></li>
      <% end %>
    </ul>
  </div>
</header>
